.quoteslist{
  margin-top: 3rem;
  text-align: center;
}
.q_item p{
  font-size: 1.9rem;
}


.counts ul{
  list-style: none;
  display: inline-flex;
}

.counts ul li{
  padding-right: 2rem;
  font-size: 1.3rem;
}