{% extends "bootstrap/base.html" %}

{% block title %}
quotes
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='quotespage.css')}}">
{% endblock %}
{% block content %}
  <div class="container">
    <div class="quoteslist">
      {% for quote in quotes %}
        <div class="q_item">
          <p>"{{ quote["body"]}}"<span> -{{quote["author"]}}</span></p>
          <div class="counts">
            <ul>
              <li style="color: green;">Favourited - {{ quote["favorites_count"]}} </li>
              <li style="color: blue;">Liked - {{ quote["upvotes_count"]}}</li>
              <li style=" color: red">Disliked - {{ quote["downvotes_count"]}}</li>
              <li><a href="/bookmark/{{quote['body']}}/{{quote['author']}}">bookmark</a></li>
            </ul>
          </div>
        </div>
        <hr>
      {%endfor%}
    </div>
  </div>
{% endblock %}